#navPrincipal {
    border-radius: 0px;
    background-color: #0D0A0B;
    color: #C9CEBD;
}

#navPrincipal a {
    color: #C9CEBD;
}

#logoPainel {
    width: 70px; 
    height: 35px; 
    filter: invert(100%);
}

#ulNav {
    width: 70%;
}

#loginInfo {
    margin: 0px 0px 0px -15px; 
    text-align: right;
    padding: 15px 20px 0px 0px;
}

#avatarUsuario{
    width: 30px; 
    height: 30px; 
    margin: 0px 10px 0px 0px;
}

#imgHome {
    width: 40%; 
    height: 30%;
    display: block; 
    align-items: center; 
    justify-content: center; 
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 15px;
}

#mostrar {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.painel {
    margin: 10px;
    border-color: #838E83;
}

.form-control {
    margin: 10px;
    color: #0D0A0B;
}

.erro {
    color: red;
}

.btn-secondary {
    background-color: #C9CEBD;
    color: #0D0A0B;
}

.body {
    background-color: #838E83;
    color: #0D0A0B;
}

input.btn.btn-primary {
    background-color: #454955;
    color: #C9CEBD;
    border-color: #C9CEBD;
}

.glyphicon {
    color: #454955;
}

div.panel-body {
    border-radius: 2px;
    background-color: #C9CEBD;

}

div.panel-heading.painelHeader {
    border-radius: 2px; 
    background-color: #C9CEBD;
    color: #0D0A0B;
    border-color: #838E83;
}

input.form-control {
    background-color: #C9CEBD;
    border-color: #838E83;
}

table.table {
    border-color: #838E83;
}