<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="PainelDeControle">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Home</title>
	<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <script src="/webjars/jquery/jquery.min.js"></script>
        <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>	
    </head>
    <body>
        <section layout:fragment="conteudo">
            <div class="panel panel-default" style="margin: 10px">
                <div class="panel-heading">
                    <h1 class="panel-title">Home</h1>
                </div>
                <div class="panel-body" >
                    <img src="files/jpg/logo.png" style="width: 40%; height: 30%;display: block; align-items: center; justify-content: center; margin-left: auto; margin-right: auto; margin-bottom: 15px ">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper efficitur sem, sed efficitur turpis tristique a. In rhoncus vehicula tristique. Sed vel blandit velit. Quisque enim nulla, porta mollis ex nec, pulvinar pellentesque sapien. Integer elementum elit eget justo venenatis, sed tempus mi pulvinar. Etiam vel euismod sapien. Suspendisse sed vestibulum enim. Nulla facilisi. Praesent eget quam nisl. Sed viverra enim vel ligula laoreet, nec pulvinar justo sollicitudin.</p>
                        <p>Donec mollis urna ante, sed maximus nibh lobortis eu. Morbi venenatis suscipit ipsum, vel consectetur lorem scelerisque quis. Fusce placerat est nulla, et cursus massa bibendum et. Phasellus auctor auctor lectus. Etiam auctor suscipit nunc, sit amet tincidunt libero congue vel. Integer in ligula in lacus vehicula semper non id sapien. Phasellus non nulla quis tortor pellentesque congue. Cras scelerisque mauris eros, eget interdum velit pulvinar vel. Etiam tincidunt sodales felis, at tristique sapien gravida ac. Nunc in magna porta, feugiat velit vitae, aliquet quam. Nunc a efficitur orci, et sodales erat. Mauris lobortis elementum massa, sit amet malesuada enim lobortis ut. Nulla ut odio mauris. In dui nisl, commodo at justo non, congue ultrices orci.</p>
                        <p>Maecenas ornare pellentesque elit in dictum. Nullam ultrices ac ligula in finibus. Ut fermentum neque pulvinar vehicula maximus. Aliquam at risus maximus, scelerisque nulla nec, vulputate massa. Morbi porta tincidunt lobortis. Fusce imperdiet, ligula sed ultrices suscipit, sapien nibh vulputate purus, at tincidunt lorem nibh sed nibh. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse potenti. Proin ut tellus vestibulum, eleifend magna sed, sagittis ex. Donec eget sapien lacinia, mattis nunc ut, auctor quam. Vestibulum suscipit ex quis ligula molestie convallis at sed odio. Suspendisse dictum purus vitae magna pharetra viverra.</p>
                </div>
            </div>
        </section>
    </body>
</html>